.shaman-color {
  color: #0070dd;
}

.priest-color {
  color: #f0f0f0;
}

.druid-color {
  color: #ff7c0a;
}

.paladin-color {
  color: #f48cba;
}

.warrior-color {
  color: #c69b6d;
}

.all-color {
  color: mediumpurple;
}

.turtle-dark-green {
  color: #0d3300;
}

.turtle-light-green {
  color: #5fb701;
}
