:root {
  --color-dark-green: #0d3300;
  --color-btn-primary: #498d01;
  --color-hover-primary: #5fb701;
  --color-text-primary: #90ed2d;
  --color-bg-primary: #202020;
  --color-link-primary: yellow;
  --color-hover-secondary: #131313;
  --color-bg-tooltip: palegoldenrod;
  --color-line: #707070;
}

[data-class-color='shaman'] {
  color: #0070dd;
}

[data-class-color='priest'] {
  color: #f0f0f0;
}

[data-class-color='druid'] {
  color: #ff7c0a;
}

[data-class-color='paladin'] {
  color: #f48cba;
}

[data-class-color='warrior'] {
  color: #c69b6d;
}

[data-class-color='all'] {
  color: mediumpurple;
}

[data-class-color='default'] {
  color: var(--color-text-primary);
}
