@import 'colors.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background: url('../public/background.jpg'); /* TODO */
  color: white;
}

a {
  text-decoration: underline;
  color: lightgreen;
  overflow-wrap: anywhere;
}

* {
  box-sizing: border-box;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.masonry-column {
  padding-left: 10px; /* gutter size */
}

.masonry-column .card {
  margin-bottom: 10px;
}
